* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('torii.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.tabel-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.pricing-plan {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 280px;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.pricing-plan:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.pricing-plan h3 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.harga {
    font-size: 36px;
    color: #007bff;
    margin: 20px 0;
}

.pricing-plan ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.pricing-plan ul li {
    color: #555;
    font-size: 16px;
    margin: 10px 0;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}